@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<connectionStrings>
    <add name="MyConnectionString" connectionString="Data Source=LAPTOP-96DDPN98;Initial Catalog=EmployeeDB;Integrated Security=True;" providerName="System.Data.SqlClient" />
</connectionStrings>
